.formPanel
{
    border: 2px solid green;
    border-radius: 10px;
    padding: 6px;
    text-align: center;
    margin: 45px 450px;
}
.button
{
    margin: 6px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:hover {
    background-color: white;
    color: green;
}
.button:active {
    transform: scale(0.9);
}
input[type=text] {
    text-align: center;
    border: none;
    border-bottom: 2px solid green;
}
input[type=text]:focus {
    outline: none;
    border-bottom: 2px solid purple;
}